.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  background-image: url("./meme.png");
  background-repeat: repeat-y repeat-x;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  background-color: #282c34;
  padding: 10vh 10vw;
}

.button-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.yes {
  background-color: #4CAF50; /* Green */
  border: 2px solid #4CAF50;
}

.yes:hover {
  border: 2px solid #4CAF50;
  background-color: white; /* Green */
  color: black;
  cursor: pointer;
}

.no {
  background-color: #F08080; /* Red */
  border: 2px solid #F08080;
}

.no:hover {
  border: 2px solid #F08080;
  background-color: white; /* Green */
  color: black;
  cursor: pointer;
}

.failure {
  max-width: 50vw;
}

.red-text {
  color: #F08080;
}